{:paths ["src" "resources"]
 :deps  {org.clojure/clojure          {:mvn/version "1.12.0"}
         com.cerner/clara-rules       {:mvn/version "0.24.0"}
         cheshire/cheshire            {:mvn/version "5.13.0"}
         ;; HTTP API
         metosin/reitit-ring          {:mvn/version "0.7.2"}
         metosin/reitit-middleware    {:mvn/version "0.7.2"}
         ring/ring-jetty-adapter      {:mvn/version "1.13.0"}
         ;; Observability
         org.clojure/tools.logging          {:mvn/version "1.3.0"}
         ch.qos.logback/logback-classic     {:mvn/version "1.5.11"}
         net.logstash.logback/logstash-logback-encoder {:mvn/version "8.0"}
         clj-commons/iapetos                {:mvn/version "0.1.13"}
         io.prometheus/simpleclient_hotspot {:mvn/version "0.16.0"}}

 :aliases
 {:test    {:extra-paths ["test"]
            :extra-deps  {io.github.cognitect-labs/test-runner
                          {:git/sha "dfb30dd6605cb6c0efc275e1df1736f6e90d4d73"}
                          ring/ring-mock {:mvn/version "0.4.0"}}
            :exec-fn     cognitect.test-runner.api/test}

  :run-cli {:main-opts ["-m" "adjudis.cli"]}

  :author  {:main-opts ["-m" "adjudis.author"]}

  :bench   {:extra-paths ["test"]
            :main-opts   ["-m" "adjudis.bench"]}

  :serve   {:main-opts ["-m" "adjudis.server"]}

  :build   {:deps {io.github.clojure/tools.build {:mvn/version "0.10.5"}}
            :ns-default build}}}
